<nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a>Eric Gonzalez</a></h1>
      <a href="<%=@slash%>#home" class="smoothScroll nav-link">Home</a>
      <a href="<%=@slash%>#about" class="smoothScroll nav-link">About</a>
      <a href="<%=@slash%>#portfolio" class="smoothScroll nav-link">Portfolio</a>
      <a href="<%=@slash%>#contact" class="smoothScroll nav-link">Contact</a>
      <a href="https://drive.google.com/file/d/0B-4Vah9LEYrLckRjbmNBM080NmM/view?usp=sharing" target="_blank nav-link">Resume</a>
      <a href="https://github.com/Twinpair/" target="blank"><i class="icon-github"></i></a>
      <a href="https://www.linkedin.com/in/ericgonzalez1994" target="blank"><i class="icon-linkedin"></i></a>
      <a href="https://www.facebook.com/EricGonzalez1994" target="blank"><i class="icon-facebook"></i></a>
      <a href="https://twitter.com/e_gonzilla" target="blank"><i class="icon-twitter"></i></a>
      <a href="https://www.instagram.com/e_gonzilla" target="blank"><i class="icon-instagram"></i></a>
    </div>
    <div id="menuToggle"><i class="icon-reorder"></i></div>
  </nav>