<!-- ========== MENU ========== -->
<%= render partial: "shared/nav_menu" %>

  <!-- ========== CONTACT SECTION ========== -->
  <section name="contact">
    <div class="container">
      <div class="row">
        <h3><u>CONTACT ME</u></h3>
        <div class="col-lg-6 col-lg-offset-3">
          <%= render partial: "shared/contact_form" %>
        </div>
      </div>
    </div>
  </section>