<section name="portfolio" class="latest-articles has-padding alternate-bg" >
  <div class="container text-center">
    <%= link_to "Home", root_url %> | <%= link_to "New Project", new_project_url %>
    <h3>PORTFOLIO</h3>
    <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
    <div class="row" style="margin-bottom: 20px">
      <h4>Client Work</h4>
      <hr style="width: 300px; margin-left: auto; margin-right: auto;">
      <%= render @client_work %>
    </div>
    <div class="row">
      <h4>Personal and Group Projects</h4>
      <hr style="width: 300px; margin-left: auto; margin-right: auto;">
      <% @counter = 0 %>
      <%= render @projects %>
    </div>
  </div>
</section>
