<section name="portfolio" class="latest-articles has-padding alternate-bg" >
  <div class="container text-center">
    <div class="row" id="f">
      <%= link_to "Home", root_url %> | <%= link_to "New Project", new_project_url %>
      <h3>PORTFOLIO</h3>
      <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
      <%= render @projects %>
    </div>
  </div>
</section>
