<div id="f" style="margin-top: -70px;">
  <div class="container">
    <div class="row">
      <%= link_to "Go Back", projects_url %>
      <h3><u>New Project</u></h3><br>
      <%= render partial: "project_form" %>
    </div>
  </div>
</div>