<section name="work-experience" id="work-experience" class="latest-articles has-padding alternate-bg" >
  <div id="work-experience-layout">
		<div class="container">
			<div class="row row-padded" id="f">
				<div class="col-md-12">
          <%= link_to "Home", root_url %> | <%= link_to "New Work Experience", new_experience_url%>
          <h3>WORK EXPERIENCE</h3>
          <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
          <%= render @experiences %>   
        </div>
      </div>
    </div>
  </div>
</section>