<div id="f">
  <div class="container">
    <div class="row">
      <%= link_to "Go Back", experiences_url %>
      <h3><u>New Experience</u></h3><br>
      <%= render partial: "experience_form" %>
    </div>
  </div>
</div>