/*===== SITE WIDE CSS =====*/
body {
  background-color: #141d26;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}
.body-light {
  background-color: #fdf9ef;
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;

  letter-spacing: 1px;
}
h2{
  font-size: 28px;
  font-weight: 700;
}
h3{
  color: #f85c37;
  font-size: 26px;
}
h4{
  font-size: 22px;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 19px;
}
a {
  color: #f85c37;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}
a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
section{
  padding-bottom: 70px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.red_span{
	color:#f85c37;
}
.align-left{
  text-align: left;
}
.fa-circle {
  font-size: 8px;
  padding: 3px;
}
.emphasize{
  color: #5cb85c;
}
.tech-logo{
  height: 3em;
  margin: 10px 5px;
}
.sub-title{
  margin: 20px 0;
}


/*===== MENU =====*/ 
.menu {
  position: fixed;
  right: -200px;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  text-align: left;
}
.menu.menu-open {
  right: 0px;
}
.menu-wrap {
  position: absolute;
  top: 0;
  left: 60px;
  background: #1a1a1a;
  width: 200px;
  height: 100%;
}
.menu h1.logo a {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #f85c37;
  margin-top: 20px;
  margin-left: 20px;
}
.menu img.logo {
  margin: 20px 0;
  max-width: 160px;
}
.menu .nav-link {
  margin-left: 20px;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.menu .nav-link:hover {
  color: #f85c37;
}
.menu .nav-link:active {
  color: #ffffff;
}
#menu-social{
  text-align: center
}
.menu a > i {
  display: inline-block;
  vertical-align: middle; 
  width: 25px;
  font-size: 14px;
  line-height: 40px;
  margin: 25px 2px;
  color: white;
}
.menu a > i:hover {
  color: #f85c37;
}
.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: #808080;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}
.menu-close:hover {
  color: #ffffff;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}
/* Push the body after clicking the menu button */
.body-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.body-push-toright {
  left: 200px;
}
.body-push-toleft {
  left: -200px;
}
.menu,
.body-push {
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
     -o-transition: all .3s ease;
      transition: all .3s ease;
}
#menuToggle {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0,0,0,0.25);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}
#menuToggle:hover {
  color: #ffffff;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}
/* Theme Color Toggle */
#theme-toggle{
  text-align: center;
}
.menu h5{
  color: white;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}
a.toggler {
    background: #141d26;
    cursor: pointer;
    border: 2px solid #dfe6fb;
    border-right-width: 75px;
    padding: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
}
a.toggler.off {
    background: #fdf9ef;
    border-right-width: 2px;
    border-left-width: 75px;
}


/*===== HEADER =====*/
#headerwrap {
	background: url(lego.jpg) no-repeat center top;
	margin-top: -50px;
	padding-top: 60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap h1 {
	color: #9696bf;
	font-size: 70px;
	font-weight: 700;
	margin-top: 45px;
  text-shadow: 1px 1px 0px #000000;
}
#headerwrap h3 {
	color: #9696bf;
	font-size: 30px;
	font-weight: 100;
  font-style: oblique;
  margin-bottom: -15px;
  text-shadow: 1px 1px 0px #000000;
}
#headerwrap .logo {
	text-align: left;
	margin-left: 20px;
	margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .img-circle{
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .img-circle{
    width: 30%;
  }
}


/*===== WORK EXPERIENCE =====*/
#work-experience-layout .fh5co-heading .heading {
  position: relative;
  padding-top: 30px !important;
}
#work-experience-layout .fh5co-heading .heading:before, #work-experience-layout .fh5co-heading .heading::before {
  height: 64px;
  width: 64px;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-top: -50px;
  margin-left: -32px;
}
#work-experience-layout .fh5co-heading .sub-heading {
  color: #a99c92;
}
#work-experience-layout .work-experience-entry {
  float: left;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #work-experience-layout .work-experience-entry {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    clear: none !important;
  }
  .work-experience-title, .work-experience-position, .work-experience-date{
    text-align: center;
    padding: 0 0;
  }
  #work-experience-layout .work-experience-entry ul li .work-experience-desc > figure {
    display: inline-block;
    margin-bottom: 20px;
  }
  #work-experience-layout .work-experience-entry ul li .work-experience-desc > div {
    width: 90%;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .work-experience-title, .work-experience-position, .work-experience-date{
    text-align: left;
  }
  .work-experience-date {
    text-align: right;
  }
  #work-experience-layout .work-experience-entry ul li .work-experience-desc > figure {
    width: 20%;
    float: left;
    position: relative;
    margin-right: 3%;
  }
  #work-experience-layout .work-experience-entry ul li .work-experience-desc > div {
    width: 75%;
  }
}
.work-experience-title, .work-experience-position {
  margin-bottom: 15px;
  position: relative;
  padding-left: 0px;
}
.work-experience-position, .work-experience-date{
  margin-bottom: 20px;
}
.work-experience-link{
  font-size: 20px;
}
#work-experience-layout .work-experience-entry ul {
  padding: 0;
  margin: 0;
}
#work-experience-layout .work-experience-entry ul li {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted #ccc;
  display: block;
  float: left;
  width: 100%;
}
#work-experience-layout .work-experience-entry ul li ul li{
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  display: list-item;
  border-bottom: none;
  float: left;
  width: 100%;
  text-align: left;
  font-size: 19px;
  font-weight: 500;
}
#work-experience-layout .work-experience-entry ul li .work-experience-desc {
  clear: both;
  float: left;
  width: 100%;
}
#work-experience-layout .work-experience-entry ul li .work-experience-desc > figure img {
  max-width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0;
}
#work-experience-layout .work-experience-entry ul li .work-experience-desc > div {
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}
#work-experience-layout .work-experience-entry ul li .work-experience-desc > div p {
  margin: 0;
}

/*===== PORTFOLIO =====*/
.btn-danger{
  margin: 5px 5px;
  background-color: #df5231;
  border-color: #7c2e1b;
}
.btn-danger:hover, 
.btn-danger:active{
  background-color: #ad4026;
  border-color: #7c2e1b;
}
.article-post p{
  text-align: left;
  font-size: 18px;
}
.latest-articles article span.featured-tag {
    font-size: 13px;
    position: absolute;
    z-index: 99;
    bottom: 10px;
    left: 10px;
    padding: 4px 10px;
    color: #fff;
    background-color: #7AE2DE;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px
}

.latest-articles article figure.has-overlay {
    height: 100%
}

.latest-articles article:hover h2:after {
    margin-left: 10px;
    opacity: 1
}

.latest-articles article:hover .has-overlay:after {
    background-color: rgba(65, 74, 82, 0.8)
}

.latest-articles article ul.article-footer {
    padding-top: 15px;
    border-top: solid 1px #E5E7E9
}

.latest-articles article ul.article-footer li {
    font-size: 13px;
    display: inline-block
}

.latest-articles article ul.article-footer li.article-comments {
    float: right
}

.latest-articles img {
    margin: 0;
    padding: 0;
    -webkit-transition: all 300ms;
    transition: all 300ms
}

.latest-articles figcaption h2 {
    font-size: 22px;
    line-height: 30px;
}
.latest-articles figcaption h4 {
    margin-bottom: 20px;
}

.latest-articles figcaption h2:after {
    font-family: FontAwesome;
    content: '\f105';
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 0
}

.latest-articles article.article-post {
    position: relative;
    overflow: hidden
}

.latest-articles article.article-post .article-image {
    position: relative;
    overflow: hidden;
    height: 225px;
    max-height: 250px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.latest-articles .has-overlay:after,
.latest-articles .freebies .has-overlay:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
}

.latest-articles select#inputArticle-Sort {
    font-size: 13px;
    width: 300px;
    margin-left: 25px;
    padding-bottom: 9px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    text-indent: .01px;
    text-overflow: '';
    color: rgba(65, 74, 82, 0.5);
    border: none;
    border-bottom: solid 2px #7AE2DE;
    background: url("../img/dd-arrow.png") no-repeat;
    background-color: none;
    background-position: 280px 5px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none
}

.latest-articles select#inputArticle-Sort:focus {
    outline: none
}

.latest-articles article {
    margin-top: 50px
}

@media screen and (max-width: 768px) {
  .stats .stats-container {
      width: 210px;
      margin: 0 auto 100px;
      text-align: left;
      border-right: none
  }
  .stats .stats-container:last-child {
      margin-bottom: 0
  }
  .latest-articles .sort {
      text-align: left
  }
  footer .footer-branding {
      margin-bottom: 20px
  }
  footer .footer-nav {
      padding-top: 20px;
      border-top: solid 1px rgba(255, 255, 255, 0.15)
  }
  footer .footer-nav ul.footer-primary-nav {
      display: block;
      margin-bottom: 0
  }
  footer .footer-nav ul.footer-primary-nav li {
      display: block;
      margin: 0 0 20px;
      padding: 15px 0;
      border-bottom: dashed 1px rgba(255, 255, 255, 0.25)
  }
  footer ul li a {
      display: block
  }
  footer .footer-nav ul.footer-share {
      display: block;
      float: none
  }
  footer ul.footer-secondary-nav {
      margin-top: 40px
  }
  footer ul.footer-secondary-nav li a {
      margin-top: 10px
  }
  footer .footer-nav ul.footer-share>li {
      display: block;
      margin: 0 0 20px;
      padding: 15px 0;
      border-bottom: dashed 1px rgba(255, 255, 255, 0.25)
  }
  .share-dropdown {
      top: auto;
      right: auto;
      bottom: 120px;
      left: 15px
  }
  .share-dropdown:after {
      left: 20%
  }
  .flickity-page-dots {
      line-height: 1;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 25px;
      left: 50%;
      width: auto;
      margin: 0;
      padding: 0;
      list-style: none;
      transform: translateX(-50%);
      text-align: center
  }
  .flickity-page-dots .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 4px;
      opacity: 1;
      border: 2px solid white;
      background: transparent
  }
  div.mouse-container {
      display: none
  }
}

@media screen and (max-width: 640px) {
  .video-js {
      width: 100%
  }
  .collective .video-player {
      width: 100%
  }
  header.hero {
      height: 640px
  }
  .mouse-container {
      display: none
  }
  .carousel-cell {
      height: 640px
  }
  header.hero h1 {
      font-size: 30px;
      line-height: 40px
  }
  .has-padding-tall {
      padding: 80px 0
  }
  section.get-started h2 {
      font-size: 24px;
      line-height: 48px;
      margin-right: 0;
      margin-bottom: 30px
  }
  .latest-articles article.featured-article {
      height: 310px;
      max-height: 310px
  }
  .latest-articles article.standard-article {
      height: 180px;
      max-height: 180px
  }
}

@media screen and (max-width: 480px) {
  .header-nav-wrapper {
      border-bottom: solid 5px #7ae2de;
      background-color: #414A52
  }
  .header-nav-wrapper .logo {
      width: 250px
  }
  .navicon {
      padding: 52px 35px;
      background-color: transparent
  }
  .header-nav-wrapper .logo {
      border-bottom: none
  }
  .sort h5 {
      display: block
  }
  .latest-articles select#inputArticle-Sort {
      margin: 20px 0
  }
}


/*===== CONTACT =====*/
#messages{
  font-size: 23px;
  color: white;
}
#messages h1{
  color: white;
}
label{
  font-weight: 600px;
  margin-bottom: 10px;
}


/*===== FOOTER =====*/
nav#social{
	padding: 20px 0 15px 0;
}
nav#social .fnav{ vertical-align: middle;}
ul.social-buttons li{
	display: inline-block;
	margin-right: 10px;
}
nav#social p{
	font-size: 12px;
	margin-top: 10px;
}
#social i.fa {
	height: 41px;
	width: 41px;
	border: 2px solid #8c8c8c;
	font-size: 30px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}
#social i.fa#facebookcircle:hover{
	background: #3b5998;
	border-color: #f85c37;
	color: white;
}
#social i.fa#githubcircle:hover{
	background: white;
	border-color: #f85c37;
	color: black;
}
#social i.fa#twittercircle:hover{
	background: white;
	border-color: #f85c37;
	color: #4099FF;
}
#social i.fa#instagramcircle:hover{
	background: white;
	border-color: #f85c37;
	color: #9A5E4A;
}
#social i.fa#linkedincircle:hover{
	background: #4875B4;
	border-color: #f85c37;
	color: white;
}
ul.footer-social li{
	display: inline-block;
}
nav#footer p{
	font-size: 16px;
}